/* Glassmorphism card effect */
.g-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	box-shadow: inset 0px 0 10px 0px rgb(0 170 255 / 70%);
	max-height: calc(100vh - 3rem);
	overflow: auto;

	font-family: "Armstrong", sans-serif !important;
}

.glass-morpihic {
	backdrop-filter: blur(16px) saturate(200%);
	-webkit-backdrop-filter: blur(16px) saturate(200%);
	background-color: rgba(15, 166, 236, 0.35);
	color: var(--bs-light);
}

.hologram-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 0;
	animation: holoFlicker 6s infinite linear;
}

@keyframes holoFlicker {
	0%,
	100% {
		opacity: 0.98;
	}
	5% {
		opacity: 0.9;
	}
	10% {
		opacity: 0.97;
	}
	15% {
		opacity: 0.92;
	}
	20% {
		opacity: 0.99;
	}
	25% {
		opacity: 0.95;
	}
	30% {
		opacity: 0.98;
	}
	70% {
		opacity: 0.96;
	}
}

.hologram-bg::before {
	--color1: rgba(15, 166, 236, 0.35);
	--color2: rgba(15, 166, 236, 0.144);
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	pointer-events: none;

	background: repeating-linear-gradient(
		0,
		var(--color1) calc(1px / 30) /* 1px */,
		var(--color2) calc(2px / 30) /* 2px */,
		var(--color2) calc(11px / 30) /* 11px */,
		var(--color1) calc(12px / 30) /* 12px */,
		var(--color1) calc(20px / 30) /* 20px */
	);
	background-size: 100% 2px;
	mix-blend-mode: screen;
	animation: holoScan 3s infinite linear;
	will-change: background-position;
}

@-moz-document url-prefix() {
	.hologram-bg::before {
		background: repeating-linear-gradient(
			0,
			var(--color1) calc(1px / 120) /* 1px */,
			var(--color2) calc(2px / 120) /* 2px */,
			var(--color2) calc(11px / 120) /* 11px */,
			var(--color1) calc(12px / 120) /* 12px */,
			var(--color1) calc(20px / 120) /* 20px */
		);
		background-size: 100% 0.7px;
	}
}

@keyframes holoScan {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 2px;
	}
}

.glow-text {
	font-family: "Armstrong";
	color: #c4e8ff;
	text-shadow: 0 0 2.5px #37c8ff, 0 0 4px rgba(21, 180, 255, 0.4);
}

.g-card {
	.accordion-button::after {
		filter: brightness(60);
	}
	.accordion-button:focus {
		box-shadow: 0px -1.5px 6px -1px var(--bs-light);
	}
	.accordion * {
		color: var(--bs-light);
		background: transparent !important;
		background-color: transparent !important;
	}

	.accordion {
		border-radius: var(--bs-border-radius);
		box-shadow: inset 0px 0 6px 2px var(--bs-light);
	}

	.accordion-button.collapsed {
		color: #e2e2e2e7 !important;
	}
}

.timespan {
	/* font-family: "Toxigenesis", sans-serif !important; */
	font-weight: bold;
	white-space: nowrap;
}

.hologram-row {
	display: flex;
	gap: 0.75rem;
	justify-content: center;
	align-items: center;
}

.icon {
	width: auto;
	border-radius: var(--bs-border-radius);
	padding: 0.25rem;
	box-shadow: var(--bs-box-shadow-sm);
	object-fit: contain;
	background: #335b8499;
	transition: 0.2s;
}

.icon:hover {
	transform: scale(1.15);
	box-shadow: 0 0 10px rgba(255, 255, 255) !important;
}

.menu-icon:hover > img {
	filter: invert(1);
	transition: 0.2s;
}

.book-card-3d {
	position: relative;
	border-radius: 1rem;
	transform-style: preserve-3d;
	overflow: hidden;
	transition: 0.2s all ease-out;
	display: flex;
	flex-direction: column;
	height: 260px;
	background: transparent !important;
	border: none;
	box-shadow: none;

	/* background: #335b8499; */
	/* border: 1px solid rgba(255, 255, 255, 0.671); */
	/* box-shadow: 0 0 15px rgba(0, 255, 255, 0.15), inset 0px 0 7px 0px var(--bs-light); */
}

.book-card-3d:hover {
	cursor: url("/cursors/link_select.cur") 0 0, pointer;

	transition: 0.2s all ease-out;
	transform: rotateX(6deg) rotateY(-6deg) scale(1.05);
	/* box-shadow: inset 0px 0 4px 0px var(--bs-light), 0 0 60px rgba(79, 164, 250, 0.445); */
	/* background: rgba(51, 93, 135, 0.7); */
	/* border: 1px solid rgba(10, 104, 186, 0.671); */

	.book-3d {
		transition: 0.2s;
		scale: 1.05;
		/* --book-thickness: 0px; */
	}

	.book-3d__inner::before {
		transition: 0.2s;
		width: 0;
	}

	.book-3d__inner {
		transition: 0.2s;
		transform: rotateY(0);
	}
}

.badges-icon {
	transition: 0.15s;
}

.badges-icon:hover {
	transition: 0.15s;
	box-shadow: inset 0px 0 6px 2px var(--bs-light);
	scale: 1.1;

	img {
		filter: invert(1);
	}
}

.key-badge {
	border-radius: var(--bs-border-radius);
	border: 2px solid var(--primary);
	width: min-content;
	justify-self: center;
	height: min-content;
	padding: 4px 6px;
}

.key-badge > div {
	height: 0.8rem;
	font-size: 0.8rem;
}

.desc-context {
	/* Cyberpunk neon Nav pills */
	.nav-pills .nav-link {
		all: unset;
		color: #9ffcff;
		background: #1414284d;
		border: 1px solid #00e5ff;
		border-radius: 10px;
		padding: 0.65rem 1.2rem;
		margin-right: 0.5rem;
		text-decoration: none;
		text-shadow: 0 0 6px #00e5ff;
		box-shadow: 0 0 8px rgba(0, 229, 255, 0.6), inset 0 0 8px rgba(0, 229, 255, 0.4);
		transition: all 0.25s ease;
	}

	.nav-pills .nav-link:hover {
		color: #fff;
		background: #00000040;
		box-shadow: 0 0 6px #00e5ff, 0 0 6px var(--primary);
		transform: scale(1.03);
	}

	.nav-pills .nav-link.active {
		background: linear-gradient(135deg, #00e5ff4e, #053b68);
		text-shadow: 0 0 10px #fff;
		box-shadow: 0 0 14px #00e5ff5d inset;
	}
}
