/* Glassmorphism card effect */
.g-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid rgb(10, 120, 167);
	box-shadow: inset 0px 0 10px 0px rgb(0 170 255 / 70%);
	max-height: calc(100vh - 3rem);
	overflow: auto;

	font-family: "Armstrong", sans-serif !important;
}

.glass-morpihic {
	backdrop-filter: blur(16px) saturate(200%);
	-webkit-backdrop-filter: blur(16px) saturate(200%);
	background-color: rgba(23, 105, 163, 0.85);
	color: var(--bs-light);
}

.navArrow {
	all: unset;
	font-size: 24px;
	padding: 2px 6px 0 6px;
	opacity: 0.8;
	color: white;
}

.clip {
	clip-path: polygon(
		78.12% 95.81%,
		76.83% 95.81%,
		74.03% 92%,
		69.32% 92%,
		69.76% 91.37%,
		61% 91.37%,
		57.08% 87.58%,
		47.09% 87.58%,
		47.53% 88.21%,
		33.11% 88.21%,
		33.55% 87.58%,
		25.29% 87.58%,
		24.9% 88.23%,
		22.99% 88.23%,
		21.43% 91.21%,
		16.82% 91.21%,
		15.74% 93.27%,
		4.67% 93.27%,
		4.64% 93.17%,
		3.96% 91.63%,
		3.93% 91.58%,
		3.93% 62.15%,
		4.81% 60.44%,
		4.81% 48.4%,
		3.93% 46.71%,
		3.93% 37.46%,
		3.77% 37.77%,
		3.77% 35.88%,
		4.08% 35.31%,
		4.29% 35.62%,
		4.29% 23.31%,
		4.29% 23.21%,
		4.29% 17.65%,
		7.78% 11.33%,
		8.91% 11.33%,
		11.02% 7.29%,
		12.58% 7.29%,
		13.18% 6.13%,
		15.33% 6.13%,
		15.77% 4.87%,
		22.04% 4.87%,
		21.87% 4.54%,
		23.17% 4.54%,
		25.97% 8.35%,
		30.68% 8.35%,
		30.24% 8.98%,
		39% 8.98%,
		42.91% 12.77%,
		52.91% 12.77%,
		52.47% 12.13%,
		66.88% 12.13%,
		66.44% 12.77%,
		74.71% 12.77%,
		75.1% 12.13%,
		77.01% 12.13%,
		78.57% 9.13%,
		83.18% 9.13%,
		84.25% 7.08%,
		95.14% 7.08%,
		95.17% 7.17%,
		96.02% 8.87%,
		96.07% 8.92%,
		96.07% 38.19%,
		95.18% 39.9%,
		95.18% 51.94%,
		96.07% 53.63%,
		96.07% 62.88%,
		96.22% 62.58%,
		96.22% 64.46%,
		95.92% 65.04%,
		95.7% 64.73%,
		95.7% 77.04%,
		95.71% 77.15%,
		95.71% 82.69%,
		92.21% 89.02%,
		91.08% 89.02%,
		88.98% 93.06%,
		87.41% 93.06%,
		86.81% 94.21%,
		84.67% 94.21%,
		84.23% 95.48%,
		77.96% 95.48%,
		78.12% 95.81%
	);
}

.hologram-bg {
	position: absolute;
	animation: holoFlicker 6s infinite linear;
}

@keyframes holoFlicker {
	0%,
	100% {
		opacity: 0.98;
	}
	5% {
		opacity: 0.9;
	}
	10% {
		opacity: 0.97;
	}
	15% {
		opacity: 0.92;
	}
	20% {
		opacity: 0.99;
	}
	25% {
		opacity: 0.95;
	}
	30% {
		opacity: 0.98;
	}
	70% {
		opacity: 0.96;
	}
}

.hologram-bg::before {
	--size: 3;
	--color1: rgba(15, 166, 236, 0.35);
	--color2: rgba(12, 53, 72, 0.18);
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	pointer-events: none;

	background: repeating-linear-gradient(
		0,
		var(--color1) calc(1px / var(--size)),
		var(--color2) calc(2px / var(--size)),
		var(--color2) calc(11px / var(--size)),
		var(--color1) calc(12px / var(--size)),
		var(--color1) calc(20px / var(--size))
	);
	background-size: 100% 20px;
	mix-blend-mode: screen;
	animation: holoScan 2s infinite linear;
	will-change: background-position;
}

@-moz-document url-prefix() {
	.hologram-bg::before {
		background: repeating-linear-gradient(
			0,
			var(--color1) calc(1px / 120) /* 1px */,
			var(--color2) calc(2px / 120) /* 2px */,
			var(--color2) calc(11px / 120) /* 11px */,
			var(--color1) calc(12px / 120) /* 12px */,
			var(--color1) calc(20px / 120) /* 20px */
		);
		background-size: 100% 0.7px;
	}
}

@keyframes holoScan {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 20px;
	}
}

.glow-text {
	font-family: "Armstrong";
	color: #c4e8ff;
	text-shadow:
		0 0 2.5px #37c8ff,
		0 0 4px rgba(21, 180, 255, 0.4);

	a {
		color: #c4e8ff !important;
	}

	a:hover {
		color: #93d6ff !important;
	}
}

.timespan {
	/* font-family: "Toxigenesis", sans-serif !important; */
	font-weight: bold;
	white-space: nowrap;
}

.hologram-row {
	display: flex;
	gap: 0.75rem;
	justify-content: center;
	align-items: center;
}

.icon {
	width: auto;
	border-radius: var(--bs-border-radius);
	padding: 0.25rem;
	box-shadow: var(--bs-box-shadow-sm);
	object-fit: contain;
	background: #335b8499;
	transition: 0.2s;
}

.icon:hover {
	transform: scale(1.15);
	box-shadow: 0 0 10px rgba(255, 255, 255) !important;
}

.menu-icon {
	transition: 0.2s;
	* {
		transition: 0.2s;
		transform-origin: center;
	}

	.menu-icon-handle-r {
		transform: translate(-10px, -10px);
	}
	.menu-icon-handle-l {
		transform: translate(10px, 10px);
	}
}

.menu-icon:hover {
	opacity: 0.95 !important;
	scale: 1.1;
	.menu-icon-frame {
		transform: rotate(90deg);
		transform-origin: center;
		filter: drop-shadow(0px 0px 2px white);
	}

	.menu-icon-handle-r,
	.menu-icon-handle-l {
		transform: translate(0px, 0px);
	}
}

.badges-icon {
	transition: 0.15s;
}

.badges-icon:hover {
	transition: 0.15s;
	box-shadow: inset 0px 0 6px 2px var(--bs-light);
	scale: 1.1;

	img {
		filter: invert(1);
	}
}

.key-badge {
	border-radius: var(--bs-border-radius);
	border: 2px solid var(--primary);
	width: min-content;
	height: min-content;
	padding: 4px 6px;
}

.key-badge > div {
	height: 0.8rem;
	font-size: 0.8rem;
}

.desc-context {
	.nav-pills .nav-link {
		all: unset;
	}
}

.show-image-backdrop {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	display: grid;
	place-content: center;
	padding: 0;
	margin: 0;
}

.show-image-backdrop > * {
	background: transparent !important;
	border: none;
}

.back-btn:hover > #back-frame {
	stroke-dashoffset: 0 !important;
	transition: 0.3;
}

.go-back-arrow:hover > * > #back-frame {
	stroke-dashoffset: 0 !important;
}

.holo-btn {
	background: rgba(0, 180, 255, 0.15);
	border: 1px solid #00eaff;
	color: #7df9ff;
	text-transform: uppercase;
	letter-spacing: 2px;
	backdrop-filter: blur(8px);
}

.holo-btn:hover {
	color: #ffffff;
	box-shadow:
		0 0 16px #00eaff,
		0 0 32px rgba(0, 234, 255, 0.8);
}

.modal-content {
	background-color: transparent;
	border: none;
}

.modal-dialog {
	margin: 0 auto;
}
