.holo-item {
	--b: var(--primary);
	--b-size: 5px;
	--bg: rgba(0, 255, 255, 0.04);
	--dent: 1em;
	border: var(--b-size) solid var(--b) !important;
	border-radius: 0 !important;
	min-height: calc(2 * (var(--dent) + var(--b-size)) + 1em) !important;
	width: fit-content;

	margin-bottom: calc(-1 * var(--b-size));

	background: linear-gradient(30deg, var(--b) 0 calc(var(--dent) + var(--b-size)), transparent 0) top left / 50% 100%,
		linear-gradient(-155deg, var(--b) 0 calc(var(--dent) + var(--b-size)), transparent 0) top right / 50% 50%, var(--bg);

	background-origin: border-box;
	background-repeat: no-repeat;

	mask: linear-gradient(45deg, transparent 0 var(--dent), #fff 0) bottom left,
		linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
		linear-gradient(145deg, transparent 0 0, #fff 0) top left,
		linear-gradient(-145deg, transparent 0 var(--dent), #fff 0) top right;

	mask-size: 50.5% 50.5%;
	mask-repeat: no-repeat;

	display: flex;
	justify-content: start;
	align-items: center;
	transition: all 0.3s;
}

.holo-item:hover {
	filter: drop-shadow(3px -3px 2px rgb(8, 62, 114));
	/* --bg: rgba(60, 149, 197, 0.496); */
	--bg: radial-gradient(circle, rgba(0, 153, 247, 0.3) 0%, rgba(0, 53, 64, 0.3) 100%);

	transition: all 0.3s;
}

.holo-title {
	text-transform: uppercase;
}
