.content {
	position: relative;
	width: fit-content;
	height: fit-content;
	display: grid;
	place-items: center;
	max-width: 100vw;
	max-height: 100vh;
}

.frame {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	width: 100%;
	height: 100%;
	gap: 0;
}

.corner {
	height: auto;
}

.invert {
	transform: rotateX(180deg);
}

.tr,
.br {
	justify-self: end;
}

.br,
.bl {
	align-self: end;
}
.invert-h {
	transform: rotateY(180deg);
}

.cut-corners {
	position: relative;
	--cut: max(1em, 5%);
	padding: 2px;
	display: grid;
	place-items: center;

	max-width: 100%;
	max-height: 100%;
}

.cut-corners > * {
	clip-path: polygon(
		var(--cut) 0%,
		calc(100% - var(--cut)) 0%,
		100% var(--cut),
		100% calc(100% - var(--cut)),
		calc(100% - var(--cut)) 100%,
		var(--cut) 100%,

		0% calc(100% - var(--cut)),
		0% var(--cut)
	);
}

.cut-corners::before {
	clip-path: polygon(
		var(--cut) 0%,
		calc(100% - var(--cut)) 0%,
		100% var(--cut),
		100% calc(100% - var(--cut)),
		calc(100% - var(--cut)) 100%,
		var(--cut) 100%,

		0% calc(100% - var(--cut)),
		0% var(--cut)
	);
	top: -1px;
	left: -1px;
	position: absolute;
	content: "";
	background-color: var(--primary);
	display: block;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}
