:root {
	--primary: rgb(84, 186, 245);
	--bs-primary: var(--primary);
	--bs-primary-rgb: 84, 186, 245;
	--secondary: rgb(4, 21, 45);
	--bs-secondary: #04152d;
	--bs-secondary-rgb: var(--secondary);
	--tertiary: rgb(111, 241, 213);
	--bs-tertiary: var(--tertiary);
	--bs-tertiary-rgb: 111, 241, 213;

	--hologram: rgb(110, 127, 188);
	--hologram-light: rgb(175, 243, 248);
}

@font-face {
	font-family: "Toxigenesis";
	src: local("Toxigenesis"), url("/fonts/toxigenesis bd.otf") format("opentype");
}

@font-face {
	font-family: "Armstrong";
	src: local("Armstrong"), url("/fonts/Armstrong.otf") format("opentype");
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	position: fixed;
	overflow: hidden;
}
