:root {
	--primary: rgb(0, 170, 255);
	--bs-primary: var(--primary);
	--bs-primary-rgb: 84, 186, 245;
	--secondary: rgb(2, 10, 21);
	--bs-secondary: #020a15;
	--bs-secondary-rgb: var(--secondary);
	--tertiary: #01fefe;
	--bs-tertiary: var(--tertiary);
	--bs-tertiary-rgb: 111, 241, 213;

	--hologram: rgb(110, 127, 188);
	--hologram-light: rgb(175, 243, 248);
}

@font-face {
	font-family: "Toxigenesis";
	src: local("Toxigenesis"), url("/fonts/toxigenesis bd.otf") format("opentype");
}

@font-face {
	font-family: "Armstrong";
	src: local("Armstrong"), url("/fonts/Armstrong.otf") format("opentype");
}

* {
	box-sizing: border-box;
}

a,
button,
.pointer,
.pointer > * {
	cursor: url("/cursors/link_select.cur") 0 0, pointer !important;
}
.grab,
.grab > * {
	cursor: url("/cursors/link_select.cur") 0 0, grab !important;
}
.grabbing,
.grabbing > * {
	cursor: url("/cursors/link_grab.cur") 0 0, grabbing !important;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--secondary);
}

body {
	position: fixed;
	overflow: hidden;
	cursor: url("/cursors/normal_select.cur") 0 0, auto;
}

canvas {
	background-color: var(--secondary);
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	margin: 5px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 5px rgb(255, 255, 255);
	background: rgba(17, 105, 206, 0.55);
	border-radius: 10px;
}

.hover {
	transition: 0.3s;
}
.hover:hover {
	transform: scale(1.1);
	transition: 0.3s;
}
